@font-face {
  font-family: Inter;
  font-stretch: 75% 200%;
  font-weight: 300 900;
  font-style: normal;
  src: url('/assets/fonts/Inter/Inter-VariableFont.ttf');
}

@font-face {
  font-family: Inter;
  font-stretch: 75% 200%;
  font-weight: 300 900;
  font-style: italic;
  src: url('/assets/fonts/Inter/Inter-Italic-VariableFont.ttf');
}